absl-py==2.1.0
accelerate==0.34.2
adal==1.2.7
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiosignal==1.3.1
alembic==1.8.1
alpaca-py==0.35.0
alpaca-trade-api==3.2.0
alpha_vantage==3.0.0
altair==5.5.0
aniso8601==9.0.1
annotated-types==0.7.0
anyio==4.9.0
apikey==0.2.4
apispec==6.6.1
apispec-webframeworks==1.1.0
app2==0.0.0
appdirs==1.4.4
APScheduler==3.11.0
argcomplete==3.5.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
astroid==3.3.5
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Automat==24.8.1
azure-common==1.1.28
azure-core==1.31.0
azure-graphrbac==0.61.1
azure-mgmt-authorization==4.0.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-core==1.4.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-network==26.0.0
azure-mgmt-resource==23.1.1
azure-mgmt-storage==21.2.1
azureml-core==1.57.0.post3
Babel==2.14.0
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==4.0.1
beautifulsoup4==4.12.2
bidict==0.23.1
binaryornot==0.4.4
black==24.10.0
bleach==6.1.0
blinker==1.7.0
boto3==1.34.113
botocore==1.34.162
Brotli==1.1.0
cachetools==5.5.0
ccxt==4.4.44
certifi==2024.12.14
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
cloudpickle==2.2.1
cmdstanpy==1.2.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
comtypes==1.2.0
constantly==23.10.4
contextlib2==21.6.0
contourpy==1.2.0
cookiecutter==2.6.0
coverage==7.6.4
cowsay==5.0
cryptography==43.0.1
cycler==0.12.1
databricks-sdk==0.38.0
dataclasses-json==0.6.7
datasets==2.17.0
debugpy==1.8.0
decorator==5.1.1
deepdiff==7.0.1
deeplake==3.9.29
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.8
distro==1.9.0
Django==4.2.5
dm-tree==0.1.8
dnspython==2.7.0
docker==7.1.0
duckdb==1.1.3
et_xmlfile==2.0.0
evaluate==0.4.0
exchange_calendars==4.6
executing==2.0.1
faiss-cpu==1.12.0
fastapi==0.116.2
fastjsonschema==2.19.1
ffmpy==0.6.1
filelock==3.15.4
fire==0.5.0
Flask==3.0.0
Flask-Cors==5.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
fonttools==4.42.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
google-auth==2.36.0
google-pasta==0.2.0
gradio==5.46.0
gradio_client==1.13.0
granite==0.0.5
graphene==3.4.3
graphql-core==3.2.5
graphql-relay==3.2.0
greenlet==3.1.1
groovy==0.1.2
grpcio==1.62.1
h11==0.14.0
h5py==3.12.1
holidays==0.57
html5lib==1.1
httpcore==1.0.4
httpx==0.27.0
httpx-sse==0.4.1
hub==3.0.1
huggingface-hub==0.35.0
humanfriendly==10.0
humbug==0.3.2
hyperlink==21.0.0
ibapi==9.81.1.post1
idna==3.4
ijson==3.3.0
imageio==2.31.1
imbalanced-learn==0.12.3
imblearn==0.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.2
ipython==8.31.0
ipywidgets==8.1.2
iso-639==0.4.5
isodate==0.7.2
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.1.2
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.17
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
jupyterlab_widgets==3.0.10
kaggle==1.6.17
kagglehub==0.3.12
kaleido==0.2.1
keras==3.5.0
keras-metrics==1.1.0
kiwisolver==1.4.5
knack==0.11.0
korean-lunar-calendar==0.3.1
kthread==0.2.3
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.75
langchain-mcp-adapters==0.1.8
langchain-text-splitters==0.3.9
langsmith==0.4.4
lazy_loader==0.2
libclang==18.1.1
llvmlite==0.40.1
loralib==0.1.1
lumibot==3.8.24
lumiwealth-tradier==0.1.14
lxml==4.9.3
lz4==4.3.3
Mako==1.3.6
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.2
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mcp==1.10.1
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.1
mlflow==2.18.0
mlflow-skinny==2.18.0
more-itertools==10.5.0
MouseInfo==0.1.3
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msgpack==1.0.3
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.1.0
multiprocess==0.70.16
multitasking==0.0.11
mypy==1.5.1
mypy-extensions==1.0.0
mysql==0.0.3
mysql-connector-python==9.2.0
mysqlclient==2.2.7
namex==0.0.7
narwhals==2.2.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.9.2
ndg-httpsclient==0.5.1
nest-asyncio==1.6.0
networkx==3.1
nltk==3.9.1
notebook==7.1.1
notebook_shim==0.2.4
numba==0.57.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.15.1
openai==0.28.0
opencv-python==4.8.0.76
opencv-python-headless==4.7.0.72
opendatasets==0.1.22
openpyxl==3.1.2
opentelemetry-api==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
orjson==3.10.18
overrides==7.7.0
packaging==24.2
pandas==2.2.0
pandas_market_calendars==4.5.1
pandocfilters==1.5.1
paramiko==3.5.0
parso==0.8.3
passlib==1.7.4
pathos==0.3.3
pathspec==0.12.1
patsy==0.5.6
pdf2docx==0.5.6
peewee==3.17.8
peft==0.3.0
periodictable==1.6.1
phonenumbers==8.13.54
pillow==10.4.0
pipeline==0.1.0
pkginfo==1.11.2
platformdirs==3.7.0
plotly==5.24.1
pluggy==1.2.0
plyer==2.1.0
polygon-api-client==1.14.2
pooch==1.7.0
portalocker==2.10.1
pox==0.3.5
ppft==1.7.6.9
preprocessing==0.1.13
prometheus_client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.23.3
psutil==5.9.8
psycopg2-binary==2.9.10
pure-eval==0.2.2
py-notifier==0.5.0
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.53
pycares==4.5.0
pycparser==2.21
pydantic==2.8.2
pydantic-settings==2.10.1
pydantic_core==2.20.1
pydeck==0.9.1
pydot==3.0.3
pydub==0.25.1
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
PyJWT==2.9.0
pylint==3.3.1
pyluach==2.2.0
PyMatting==1.1.8
pymongo==4.7.2
PyMsgBox==1.0.9
PyMuPDF==1.23.3
PyMuPDFb==1.23.3
PyMySQL==1.1.1
PyNaCl==1.5.0
pyOpenSSL==24.2.1
pyparsing==3.0.9
pypdf==6.0.0
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyQRCode==1.2.1
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
pytest==7.4.0
pytest-cov==6.0.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-engineio==4.10.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-slugify==8.0.4
python-socketio==5.11.4
pyttsx3==2.90
pytube==15.0.0
pytweening==1.0.7
pytz==2024.1
PyWavelets==1.4.1
pywhatkit==5.4
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
Quandl==3.7.0
quantstats-lumi==0.3.3
questionary==2.1.0
referencing==0.33.0
regex==2024.9.11
rembg==2.0.47
reportlab==4.4.3
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rose==1.0.0
rouge-score==0.1.2
rpds-py==0.18.0
rsa==4.9
ruff==0.13.0
s3transfer==0.10.3
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.21.0
scikit-learn==1.4.0
scipy==1.14.1
seaborn==0.13.2
SecretStorage==3.3.3
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==5.1.0
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sklearn==0.0.post9
smmap==5.0.1
snapml==1.15.4
sniffio==1.3.1
soupsieve==2.5
speedtest-cli==2.1.3
sphinx-rtd-theme==0.2.4
SQLAlchemy==2.0.30
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.18
sqlparse==0.4.4
sse-starlette==2.4.1
sseclient-py==1.8.0
stack-data==0.6.3
stanio==0.5.1
starlette==0.47.1
statsmodels==0.14.2
streamlit==1.48.1
sudokutools==0.4.0
SVC==0.1
sympy==1.12
tabulate==0.9.0
taipy==4.0.1
taipy-common==4.0.1
taipy-core==4.0.1
taipy-gui==4.0.1
taipy-rest==4.0.1
taipy-templates==4.0.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.3.0
terminado==0.18.0
text-unidecode==1.3
textblob==0.18.0.post0
tf_keras==2.18.0
thetadata==0.9.11
threadpoolctl==3.2.0
tifffile==2023.4.12
timedelta==2020.12.3
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.13.2
toolz==1.0.0
torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
transformers==4.47.1
truecallerpy==1.0.3
tsfm_public @ git+https://github.com/ibm-granite/granite-tsfm.git@9484de7a81e9d202ca024ee7924b83a796661dca
Twisted==24.7.0
typer==0.17.4
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
urllib3==1.26.20
uvicorn==0.35.0
VaLID==1.0.8
waitress==3.0.2
watchdog==4.0.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.4
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==4.0.10
wikipedia==1.4.0
win11toast==0.32
winsdk==1.0.0b10
WinToaster==0.1.0
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
xlrd==2.0.1
xxhash==3.5.0
yarl==1.13.1
yfinance==0.2.51
zenml==0.70.0
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
